/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
/*
ol, ul {
	list-style: none;
}
*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

*, :after, :before { box-sizing: border-box; }

:root {
	--brand-color: #1ec14a;
	--brand-hover-color: #11d545;
	--brand-active-color: #0cb339;
	--visited-link: #c143f9;
}

body, input, button, select, optgroup, textarea {
	margin: 0;
}

html, body, input, button, select, textarea, optgroup, option {
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

b, strong {
	font-weight: 600;
}

i, em {
	font-style: italic;
}

code {
	font-family: monospace;
}

table, th, td {
	border: 2px solid var(--text-color);
}

th, td {
	padding: 0.2em;
}

button { font-size: 1em; }

.none { display: none !important; }
.flex { display: flex; }
.flex-col { display: flex; flex-direction: column; }
.ml-auto { margin-left: auto; }
.no-vs:visited { color: var(--brand-color); }
.c-pointer { cursor: pointer !important; }
.w100 { width: 100% !important; }
.nowrap { white-space: nowrap !important; }
.mono { font-family: monospace !important; }
.pre { white-space: pre !important; }

/* */

.meta-gray {
	font-size: 0.9em;
	color: var(--meta-color);
	font-weight: 300;
}

a, button, details {
	color: var(--brand-color);
	text-decoration: none;
	cursor: pointer;
}

a:hover, button:hover, .no-vs:hover {
	color: var(--brand-hover-color);
}
a:active, button:active, .no-vs:active {
	color: var(--brand-active-color);
}


a:visited {
	color: var(--visited-link);
}

button {
	padding: 0 5px;
	border: none;
	background: inherit;
}

input, textarea, select {
	font-size: 1em;
	border: 1px solid var(--text-color);
	border-radius: 4px;
	padding: 1px 3px;
	margin: 5px;
	background-color: var(--comment-bg-color);
	color: var(--text-color);
	accent-color: var(--brand-color);
}
input:focus-visible, textarea:focus-visible, select:focus-visible {
	outline: 2px solid var(--brand-color);
}

input[type=checkbox] {
	margin: 0;
}

hr { border: 1px solid var(--text-color); }

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.05em; }
h5 { font-size: 0.95em; }
h6 { font-size: 0.85em; }
