/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
/*
ol, ul {
  list-style: none;
}
*/
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END RESET */

*, :after, :before { box-sizing: border-box; }

:root {
  --brand-color: #1ec14a;
  --brand-hover-color: #11d545;
  --brand-active-color: #0cb339;
  --visited-link: #c143f9;
}

body, input, button, select, optgroup, textarea {
  margin: 0;
}

html, body, input, button, select, textarea, optgroup, option {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

code {
  font-family: monospace;
}

table, th, td {
  border: 2px solid var(--text-color);
}

th, td {
  padding: 0.2em;
}

button { font-size: 1em; }

.none { display: none !important; }
.flex { display: flex; }
.flex-col { display: flex; flex-direction: column; }
.ml-auto { margin-left: auto; }
.no-vs:visited { color: var(--brand-color); }
.c-pointer { cursor: pointer !important; }
.w100 { width: 100% !important; }
.nowrap { white-space: nowrap !important; }
.mono { font-family: monospace !important; }
.pre { white-space: pre !important; }

/* */

.meta-gray {
  font-size: 0.9em;
  color: var(--meta-color);
  font-weight: 300;
}

a, button, summary {
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
}

summary {
  width: fit-content;
}

a:hover, button:hover, .no-vs:hover {
  color: var(--brand-hover-color);
}
a:active, button:active, .no-vs:active {
  color: var(--brand-active-color);
}


a:visited {
  color: var(--visited-link);
}

button {
  padding: 0 5px;
  border: none;
  background: inherit;
}

input, textarea, select {
  font-size: 1em;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 1px 3px;
  margin: 5px;
  background-color: var(--comment-bg-color);
  color: var(--text-color);
  accent-color: var(--brand-color);
}
input:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: 2px solid var(--brand-color);
}

input[type=checkbox] {
  margin: 0;
}

hr { border: 1px solid var(--text-color); }

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.05em; }
h5 { font-size: 0.95em; }
h6 { font-size: 0.85em; }

dialog {
  background: var(--comment-bg-color);
  color: var(--text-color);
  padding: 1rem 1.5rem;
  margin: 0;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.2);
}

.ic--baseline-mode-edit {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.heroicons-solid--clipboard-copy {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cg fill='%23000'%3E%3Cpath d='M8 2a1 1 0 0 0 0 2h2a1 1 0 1 0 0-2z'/%3E%3Cpath d='M3 5a2 2 0 0 1 2-2a3 3 0 0 0 3 3h2a3 3 0 0 0 3-3a2 2 0 0 1 2 2v6h-4.586l1.293-1.293a1 1 0 0 0-1.414-1.414l-3 3a1 1 0 0 0 0 1.414l3 3a1 1 0 0 0 1.414-1.414L10.414 13H15v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2zm12 6h2a1 1 0 1 1 0 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
